.wrapper {
    margin: 15px auto;
    max-width: 700px;
  }
  .container-calendar {
    background: #ffffff;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
    overflow: auto;
  }
  
  .table-calendar {
    border-collapse: collapse;
    width: 100%;
  }
  .table-calendar th,
  .table-calendar td{
    padding: 10px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
  }
  .date-picker.selected {
    font-weight: bold;
    color: #fff;
    background: #f47575;
  }
  .date-picker.selected span {
    border-bottom: 2px solid currentColor;
  }

  .date-picker.today {
    font-weight: bold;
    background: #aaa7a7;
  }
  .date-picker.today span {
    border-bottom: 2px solid currentColor;
  }

  /* 日曜 */
  .date-picker:nth-child(1) {
  color: red;
  }
  /* 土曜 */
  .date-picker:nth-child(7) {
  color: blue;
  }
  #monthAndYear {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .button-container-calendar {
    position: relative;
    margin-bottom: 4em;
    clear: both;
  }
  #previous {
    float: left;
  }
  #next {
    float: right;
  }