.table-schedule {
    text-align: center;
    margin: 20px auto;
    th {
        padding: 10px;
    }

    td {
        padding: 10px;
    }

    .fixed {
        position: sticky;
        left: 0;
        background-color: #e0e0e0;
    }

    .name {
        text-align: right;
    }

    select {
        background: rgba(0,0,0,0);
        border: none;
        font-size: 16px;
        margin-left: 10px;
    }
    
    select[disabled] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}