<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Schedule</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css" type="text/css">
</head>
    <body>
        <div class="txt-title">
            <h1>新規登録</h1>
        </div>
        <form method="post" name="signUp" action="/sign-up">
            <div class="block">
                <div class="basic-input">
                    <input type="text" placeholder="user name" name="name" autocomplete="">
                </div>
                <div class="basic-input">
                    <input type="text" placeholder="password" name="password" autocomplete="">
                </div>
                <div class="basic-input">
                    <input type="text" placeholder="mail address" name="address" autocomplete="">
                </div>

                <div class="txt-error">
                    <p th:text="${error}"></p>
                </div>
    
                <div class="btn-login btn">
                    <a href="javascript:signUp.submit()">登録</a>
                </div>
            </div>
        </form>
    </body>
</html>